<p style="color: green"><%= notice %></p>

  <div class='jumbotron jumbotron-fluid'>
      <div class="w-100 wp-3 mb-2 text-nowrap fs-1 fw-bold text-white bg-success text-center"> <%= @project.title %> </div>

      <div class="p-0 mb-5 text-wrap fs-5 text-dark">
        <span class="border-start"> <%= @project.description %> </span>
      </div>
  </div>

<% if user_signed_in? %>
  
  <div class="p-3 fs-5 fw-bold text-primary bg-dark"> 
      <%= link_to 'Edit', edit_project_path(@project) %>
      || <%= link_to "Delete", @project, method: :delete %>
  </div>
<% end %>